* {
    box-sizing: border-box;
}
table {
    width: 100%;
    background-color: #787878;
    border-collapse: separate !important;
    padding: 5px;
}

th,td
{
    text-align: left;
    width: 250px;
    border: solid 1px #787878;
}
th { padding: 15px 30px 15px 10px; }
td { padding: 10px 30px 10px 10px; }

th:nth-child(1), td:nth-child(1) {
    width: 150px;
}

th:nth-child(2), td:nth-child(2) {
    width: 150px;
}

th:nth-child(3), td:nth-child(3) {
    width: 150px;
}


#right-heading
{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-input
{
    float: right;
}
th, tfoot td {
    background-color: #444;
    color: #fff;
}
td{
    background-color: #9c9c9c;
}
td input
{
    background: #777;
    border: solid 1px white;
    color: white;
    width: 4rem;
}
#addAttributeRow, #addProductSectionContainer
{
    height: 50px;
}
tr#addAttributeRow td
{
    background-color: transparent;
}
ul
{
    list-style: disc !important;
    padding-left: 30px !important;
    margin-top: 10px !important;
}